# Entendiendo la libreria de Pandas

In [2]:
# Importamos la libreria de pandas como ya hicimos con la de numpy
import pandas as pd

## 1.1 Aprendiendo a crear los DataFrame

### 1.1.2 Creando un Dataframe importando archivo CSV

#### Para leer un archivo CSV que e sun archivo separado por comas utilizamos la funcion pd.read_csv(RutaArchivo)

In [3]:
# Se asignan a variables los Dataframe como todo objeto en Python
df = pd.read_csv('./mastermind-220421-143506(1).csv')

In [4]:
# Lo imprimimos por consola para ver el formato que tiene
'''Como vemos nos lo imprime en un formato de tabla es decir los datos que estan separados por comas
en nuestro archivo csv pandas nos los saca en un formato de tabla es decir como si fuera una base de datos 
relacional pero vemos que hay un campo repetido y eso es porque no le hemos dicho a pandas que el indice 
de cada columna nos lo coga de un parametro del csv separado por comas que ya esta por lo que a la funcion 
de read_csv le tenemos que pasar un parametro para indicarselo dado que admite muchos parametros'''
df

   Unnamed: 0          nombre         especialidad  edad  visitas sexo
0           0       SFDX Show             Hardware    30   130855    H
1           1     Sara Nogark     Edición de vídeo    29   114175    M
2           2    Nate Gentile         Programación    31   142545    H
3           3       Bettatech         Programación    31   149462    H
4           4  Antonio Sarosi  Sistemas Operativos    28   132008    H
5           5      Edgar Pons             Robótica    29   143620    H
6           6         s4vitar              Hacking    28   132567    H

In [5]:
# Podemos hacer de dos formas el parametro que queremos que sea el indice de las dos columnas 
# el primero es pasandole a la funcion pd.read_csv(ruta, index_col='NombreColumnaIndice')
# O bien indicandolo como si fuera una lista pd.read_csv(ruta, index_col=[indiceListaColumna])

df = pd.read_csv('./mastermind-220421-143506(1).csv', index_col='nombre')

print(f"Tomando el indice el nombre de los campos del csv : {df}")

df = pd.read_csv('./mastermind-220421-143506(1).csv', index_col=[0])

print(f"Tomando el indice primero que corresponde con Unnamed de los campos del csv : {df}")

Tomando el indice el nombre de los campos del csv :                 Unnamed: 0         especialidad  edad  visitas sexo
nombre
SFDX Show                0             Hardware    30   130855    H
Sara Nogark              1     Edición de vídeo    29   114175    M
Nate Gentile             2         Programación    31   142545    H
Bettatech                3         Programación    31   149462    H
Antonio Sarosi           4  Sistemas Operativos    28   132008    H
Edgar Pons               5             Robótica    29   143620    H
s4vitar                  6              Hacking    28   132567    H
Tomando el indice primero que corresponde con Unnamed de los campos del csv :            nombre         especialidad  edad  visitas sexo
0       SFDX Show             Hardware    30   130855    H
1     Sara Nogark     Edición de vídeo    29   114175    M
2    Nate Gentile         Programación    31   142545    H
3       Bettatech         Programación    31   149462    H
4  Antonio Sarosi  Sistemas Operativos    28   132008    H
5      Edgar Pons             Robótica    29   143620    H
6         s4vitar              Hacking    28   132567    H

In [6]:
# Por tanto vamos a tomar la opcion de que el indice sea el primer elemento de los campos del csv

df = pd.read_csv('./mastermind-220421-143506(1).csv', index_col=[0])

df

           nombre         especialidad  edad  visitas sexo
0       SFDX Show             Hardware    30   130855    H
1     Sara Nogark     Edición de vídeo    29   114175    M
2    Nate Gentile         Programación    31   142545    H
3       Bettatech         Programación    31   149462    H
4  Antonio Sarosi  Sistemas Operativos    28   132008    H
5      Edgar Pons             Robótica    29   143620    H
6         s4vitar              Hacking    28   132567    H

#### Para entender lo que es un DataFrame es un conjunto de Pandas Series y estos son arrays de Numpy que tienen
Un atributo que es el titulo de cada columna es decir por ejemplo especialidad y una serie de elementos de ese array 
asociados que son por ejemplo HardWare Edicion de Video Programacion etc...

In [7]:
# Para entender esto como partimos que nuestro DataFrame es un objeto si queremos acceder a los 
# Elementos de nuestor titulo de Panda Series especialidad lo acemos con df['Especialidad u lo que sea']
# Veamoslo

'''Como vemos nos marca que es un objeto nos devuelve cada 
elemento con sus correspondientes indices 
por cada uno de estos elementos'''

df['especialidad']

0               Hardware
1       Edición de vídeo
2           Programación
3           Programación
4    Sistemas Operativos
5               Robótica
6                Hacking
Name: especialidad, dtype: object

In [8]:
# Bien si imprimos el tipo nos damos cuenta que 

'''Los pandas Series son numpy Arrays que estan modificados ligeramente 
para tener un nombre y un indice '''

type(df['especialidad'])

pandas.core.series.Series

In [9]:
# Por ejemplo que si queremos acceder al elemento 0 de nuestra columna especialidad
'''Vamos que nos imprime hardware como si se tratase porque lo es de una matriz bidimensional'''
df['especialidad'][0]

'Hardware'